
/* 
font-family: 'Cookie', cursive;
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif; */

/* 
*{
   font-family: 'Poppins', sans-serif;
   box-sizing:border-box;
  margin: 0;
  padding: 0; 
}
 */


 

 